header {
  background: rgb(60, 60, 60);
  height: 100px;
}

nav {
  width: 960px;
  margin: 0 auto;
}

nav img {
  float: left;
  margin-top: 15px;
  margin-right: 150px;
}

nav li {
  color: white;
  float: left;
  margin-top: 40px;
  margin-right: 40px;
}

main {
  margin: 0 auto;
  width: 960px;
}

div.section1 {
  margin-top: 30px;
}

div.section2 {
  margin-top: 30px;
}

div.section2 > img {
  float: left;
  margin-right: 30px;
}

div.section2 > img:last-child {
  margin-right: 0px;
}

div.section3 {
  float: left;
  margin-top: 25px;
  margin-bottom: 25px;
}

div.section3 > img {
  margin-right: 25px;
  float: left;
}

div.section4 {
  margin-bottom: 20px;
  height: 300px;
  overflow: auto;
}

div.section3 h1 {
  margin-bottom: 15px;
  font-size: 25px;
}

div.section3 p {
  padding-bottom: 10px;
}

div.section3 button {
  background: black;
  color: white;
  padding: 8px 30px 8px 30px;
}

footer {
  background: rgb(60, 60, 60);
  clear: both;
  height: 100px;
}